.content {
    padding: 3rem 1.5rem;
    text-align: center;
}

textarea.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}